<h1 class="page-header">
        Quản lý
        <small> Loại sản phẩm</small>
    </h1>
    <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <a href="./KindOfBook">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-plus fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Thêm loại</div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <a href="./updateKindOfBook">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-wrench fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Cập nhật</div>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </a>
                    </div>
    </div>
<div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li style="font-size: x-large">
                            <i class="fa fa-pencil fa-x"></i>
                            <b> Cập nhật loại sản phẩm</b>
                        </li>
                    </ul>
                    <ol class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-dashboard"></i> Cập nhật thông tin loại sản phẩm
                        </li>
                    </ol>
                </div>
            </div>
            <div class="well">
                <table class="table">
                    <thead style="text-align: center">
                        <tr>
                            <th style="border:1px solid black">ID</th>
                            <th style="border:1px solid black">Tên loại sách</th>
                            <th style="border:1px solid black">Cập nhật tên loại sách</th>
                            <th style="border:1px solid black">Xoá loại sách</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data.loai_san_pham}}

                        <tr style="border:1px solid black">
                            <td style="border:1px solid black">{{id}}</td>
                            <td style="border:1px solid black">{{ten_loai_sach}}</td>
                            <td style="border:1px solid black">
                                <a href="/admin/updateKOB/{{id}}">
                                    <button class="btn btn-success">Cập nhật</button>
                                </a>
                            </td>
                            <td style="border:1px solid black">
                                <a href="/admin/KindOfBook/{{id}}">
                                    <button class="glyphicon glyphicon-remove" style="color: red"></button>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>