{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
    <style type="text/css">
        .datepicker.dropdown-menu {
          background-color:#FFF;
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    
{{/section}}

{{#section 'js'}}
    <script src="/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript">
            $('#txtDOB').datepicker({
                format: 'd/m/yyyy',
                autoclose: true
            });
        </script>   
    <script>
    document.getElementById('subscribeForm').addEventListener('submit', submitForm);

    function submitForm(e){
      e.preventDefault();
      
      const name = $("input[name=name]").val();
      const email = $("input[name=email]").val();
      const username = $("input[name=username]").val();
      const dob = $("input[name=dob]").val();
      const password = $("input[name=password]").val();

      const captcha = document.querySelector('#g-recaptcha-response').value;

      fetch('/account/register', {
        method:'POST',
        headers: {
          'Accept': 'application/json, text/plain, */*',
          'Content-type':'application/json'
        },
        body:JSON.stringify({name:name, email: email, username:username, password:password, dob:dob, captcha: captcha})
      })
      .then((res) => res.json())
      .then((data) => {
        console.log(data);
        alert(data.msg);
      });
    }
  </script>
{{/section}}
        <div class="login-form section text-center">
            <div class="container">
                <h4 class="rad-txt">
                    <a href="/account/login"><span class="abtxt1">Đăng nhập</span></a>
                    
                    <a href="/account/register" >
                        <span class="abtext">Đăng kí</span>
                    </a>
                </h4>
                <!-- form signup -->
                <div id="signupbox" style="margin-top:50px" class="mainbox loginbox">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Đăng kí</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px">
                                <a id="signinlink" href="/account/login">Đăng nhập</a>
                            </div>
                        </div>
                            <div class="panel-body">
                                <form id="subscribeForm" class="form-horizontal">
                                    {{#if data.showError}}
                                    <div id="signupalert" class="alert alert-danger">
                                        <p>Error: {{data.errorMsg}}</p>
                                        <span></span>
                                    </div>
                                    {{/if}}
                                  <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Email</label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" class="form-control" name="email" placeholder="Địa chỉ Email" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Tên Tài khoản</label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" class="form-control" name="username" placeholder="Tên tài khoản của bạn" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Họ tên</label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input type="text" class="form-control" name="name" placeholder="Tên của bạn" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-sm-3 col-xs-3 control-label">Mật khẩu</label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input type="password" class="form-control" name="password" placeholder="Mật khẩu" required="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="txtDOB" class="col-md-3 col-sm-3 col-xs-3 control-label">Ngày sinh</label>
                                    <div class="col-md-9 col-sm-9 col-xs-9">
                                        <input id="txtDOB" type="text" class="form-control" name="dob" placeholder="ngày sinh" required=""><i class="icon-calendar"></i></input>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <div class="col-md-3"></div>
                                    <div class="g-recaptcha col-md-9" data-sitekey="6LdgDVYUAAAAAExWfTTdL9aAcqPXaXLp0f-KlFLR"></div>
                                </div>
                                <div class="signup-btn form-group">
                                    <button id="btn-signup" type="Submit" class="btn btn-info">
                                        <i class="icon-hand-right"></i> &nbsp; Đăng kí</button>
                                </div>
                                  <!-- <input type="submit" value="Submit" class="btn btn-primary"> -->
                                  <div style="border-top: 1px solid #999; padding-top:20px" class="form-group">
                                    <div class="f-btn">
                                        <button id="btn-fbsignup" type="button" class="btn btn-primary">
                                            <i class="icon-facebook"></i> Đăng kí bằng Facebook</button>
                                    </div>
                                </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
