<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>US Bookstores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Cung cấp các loại sách, sách kĩ năng mềm, truyện tranh, tạp trí, sách giáo khoa" />
    <script>
    addEventListener("load", function () {
    setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
    window.scrollTo(0, 1);
    }
    </script>
    <!-- Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="css/shop.css" type="text/css" rel="stylesheet" media="all">
    <!-- footer stylesheet -->
    <link href="css/default.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/account.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/history.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="css/font-awesome.css" rel="stylesheet">
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div id="home">
      <!-- header -->
      <!-- navbar -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="main-nav">
          <div class="container">
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">US Bookstore</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              </button>
              <h1>
              <a style="margin-top: -18px;"  href="index.html">
                <img src="images/logo.png" class="logo"  />
                <span class="navbar-brand" >USBS</span>
                
              </a>
              </h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse nav-right">
              <ul class="nav navbar-nav navbar-left cl-effect-15">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                  <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                  <a style="color: white" href="index.html">Welcome Tài <img src="images/ava.jpg" /> |</a>
                  
                </li>
                <li>
                  <a style="color: white" href="index.html">Home</a>
                </li>
                <li>
                  <a style="color: white" href="about.html">about us</a>
                </li>
                <li class="dropdown">
                  <a style="color: white" href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">shop
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    
                    <li>
                      <a href="checkout.html">checkout</a>
                    </li>
                    <li>
                      <a href="payment.html">Payment</a>
                    </li>
                  </ul>
                </li>
                
                <li>
                  <a style="color: white" href="contact.html">Contact us</a>
                </li>
                <li class="dropdown">
                  <a href="login.html" title="SignIn & SignUp" class="dropdown-toggle effect-3" data-toggle="dropdown">
                    <span class="fa fa-cogs nav-icon" aria-hidden="true"></span>
                  </a>
                  <ul id="MyAccountPop" class="dropdown-menu">
                    <li class="list-group-item">
                      <a href="information_account.html">
                        <i class="fa fa-user "></i>
                        Thông tin Tài khoản
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="history.html">
                        <i class="glyphicon glyphicon-th-list"></i>
                        Thông tin hóa đơn
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="user-dashboard-saved-searches.html">
                        <i class="glyphicon glyphicon-heart"></i>
                        Sản phẩm yêu thích
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="#">
                        <i class="glyphicon glyphicon-home"></i>
                        Sổ địa chỉ
                      </a>
                    </li>
                    <li class="list-group-item">
                      <a href="../before_login/index.html">
                        <i class="glyphicon glyphicon-log-out"></i>
                        Đăng xuất
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
              <!-- search-bar -->
              <div class="search-bar-agileits">
                <div class="cd-main-header">
                  <ul class="cd-header-buttons">
                    <li>
                      <a class="cd-search-trigger" href="#cd-search">
                        <span></span>
                      </a>
                    </li>
                  </ul>
                  <!-- cd-header-buttons -->
                </div>
                <div id="cd-search" class="cd-search">
                  <form action="#" method="post">
                    <input name="Search" type="search" placeholder="Nhập và bấm Enter">
                  </form>
                </div>
              </div>
              <!-- //search-bar ends here -->
              <!-- shopping cart -->
              <div class="cart-mainf">
                <div class="chrcart chrcart2 cart cart box_1">
                  <form action="#" method="post" class="last">
                    <input type="hidden" name="cmd" value="_cart">
                    <input type="hidden" name="display" value="1">
                    <button class="top_chr_cart" type="submit" name="submit" value="">
                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              </div>
              <!-- //shopping cart ends here -->
            </div>
            <!-- /.navbar-collapse -->
            <div class="clearfix"></div>
          </div>
          <!-- /.container -->
        </div>
      </nav>
      <!-- //navbar ends here -->
      
      <div class="banner-bg-agileits">
        <!-- banner-text -->
        <div class="banner-text">
          <div class="container">
            <p class="b-txt">US</p>
            <h2 class="title">
            Bookstore
            </h2>
            <ul class="banner-txt">
              <li>Hiểu biết</li>
              <li>Thư giãn</li>
              <li>Tĩnh lặng</li>
            </ul>
          </div>
        </div>
        <!-- //banner-text -->
      </div>
      <!-- //banner -->
      <!-- breadcrumbs -->
      <div class="crumbs text-center">
        <div class="container">
          <div class="row">
            <ul class="btn-group btn-breadcrumb bc-list">
              <li class="btn btn1">
                <a href="index.html">
                  <i class="glyphicon glyphicon-home"></i>
                </a>
              </li>
              <li class="btn btn2">
                <a href="history.html">history</a>
              </li>
              <li class="btn btn3">
                <a href="history_detail.html">detail history</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--//breadcrumbs ends here-->
      <!-- ******************************* Form account ******************************************** -->
      
      <div class="container-order">
        <!-- //product left -->
        <div class="col-md-3">
          <ul class="list-group">
            <li>
              
              <legend class="alert alert-success"><center><p>Tài khoản</p><h2><b>Vũ Anh Tài</b></h2></center></legend><br>
            </li>
            <li class="list-group-item">
              <a href="information_account.html">
                <i class="glyphicon glyphicon-user"></i>
                Thông tin tài khoản
              </a>
            </li>
            <li class="list-group-item">
              <a href="history.html">
                <i class="glyphicon glyphicon-th-list"></i>
                Thông tin hóa đơn
              </a>
            </li>
            <li class="list-group-item">
              <a href="user-dashboard-saved-searches.html">
                <i class="glyphicon glyphicon-heart"></i>
                Sản phẩm yêu thích
              </a>
            </li>
            <li class="list-group-item">
              <a href="user-dashboard-saved-searches.html">
                <i class="glyphicon glyphicon-home"></i>
                Sổ địa chỉ
              </a>
            </li>
          </ul>
        </div>
        <!-- product right -->
        <div class="display-his col-md-8">
          <div class="order">
            <div class="order-info row" style=" border-bottom: 1px solid #dadada;">
              <div class="col-md-6">
                <h3>
                Đơn hàng
                <a href="history-detail.html"><span class="Ma-Don-hang">#xxxxxxxxxxxxxxx</span></a>
                </h3>
                <p class="date">
                  Dat ngay 22 thang 4 nam 2018
                </p>
              </div>
              <div class="col-md-6" style="text-align: right; color: #34c663">
                <h3>Tong cong: 95000</h3>
              </div>
            </div>
            <div class="package row">
              <div class="package-header" >
                <span class="text package-header-text">&nbsp;Gói hàng 1</span>
              </div>
              <div class="shipping-info" >
                <div class="shipping-delivery-info" ">
                  <div class="pull-right">
                    <span class="text desc">&nbsp;Tiêu chuẩn</span>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="items">
              <div class="item">
                <div class="item-pic col-md-2">
                  <a href="#">
                    <img src="images/sp1.jpg" width=60px height=60px alt="60*60">
                  </a>
                </div>
                <div class="item-name col-md-3">
                  Ten san pham
                </div>
                <div class="item-quanlity col-md-1">Qty: 1</div>
                <div class="item-status col-md-2">95.000 VND</div>
                <div class="seller-info">
                  <a href="#" data-spm-anchor-id="a2o4n.order_details.0.0">
                    <span class="text link" data-spm-anchor-id="a2o4n.order_details.0.i4.3569705bY4Ggly">Ten nha xuat ban</span>&nbsp;
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="item-pic col-md-2">
                  <a href="#">
                    <img src="images/sp2.jpg" width=60px height=60px alt="60*60">
                  </a>
                </div>
                <div class="item-name col-md-3">
                  Ten san pham
                </div>
                <div class="item-quanlity col-md-1">Qty: 1</div>
                <div class="item-status col-md-2">25.000 VND</div>
                <div class="seller-info">
                  <a href="#" data-spm-anchor-id="a2o4n.order_details.0.0">
                    <span class="text link" data-spm-anchor-id="a2o4n.order_details.0.i4.3569705bY4Ggly">Ten nha xuat ban</span>&nbsp;
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="total-summary">
            <div>
              <div class="text header">Tổng cộng</div>
              <div>
                <div class="row">
                  <span class="text pull-left">Tạm tính</span>
                  <span class="text price pull-right">120.000 VND</span>
                </div>
                <div class="row">
                  <span class="text pull-left">Phí vận chuyển</span>
                  <span class="text price pull-right">0 ₫</span>
                </div>
              </div>
              <hr>
              <div class="row second-header">
                <span class="text bold pull-left">Tổng cộng</span>
                <span class="text bold total-price pull-right">120.000 ₫</span>
              </div>
              <div>
                <div class="row">
                  <span class="text">Thanh toán bởi&nbsp;</span>
                  <span class="text bold">Thanh toán khi nhận hàng</span>
                </div>
              </div>
            </div>
          </div>
          <div class="delivery-summary">
            <div class="delivery-wrapper">
              <h3 class="title" data-spm-anchor-id="a2o4n.order_details.0.i2.46a5705bvVo1Lv">Địa chỉ giao hàng</h3>
              <span class="username">Vũ Anh Tài </span>
              <span class="address" data-spm-anchor-id="a2o4n.order_details.0.i1.46a5705bvVo1Lv"> 359/2Y Lê văn sỹ (nhà bên tay phải màu xanh),, Hồ Chí Minh, Quận 3, Phường 12</span>
              <span>01655925039</span>
            </div>
            <hr>
            <div class="delivery-summary">
              <div class="delivery-wrapper">
                <h3 class="title" data-spm-anchor-id="a2o4n.order_details.0.i2.46a5705bvVo1Lv">Địa chỉ thanh toan</h3>
                <span class="username">Vũ Anh Tài </span>
                <span class="address" data-spm-anchor-id="a2o4n.order_details.0.i1.46a5705bvVo1Lv"> 359/2Y Lê văn sỹ (nhà bên tay phải màu xanh),, Hồ Chí Minh, Quận 3, Phường 12</span>
                <span>01655925039</span>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      
      <!-- //footer-layouts -->
      <!-- footer -->
      <div class="footer-bottom section">
        <div class="container">
          <!-- newsletter -->
          <div class="subscribe-main section-w3layouts text-center">
            <h4 class="rad-txt">
            <span class="abtxt1">Nhập Email</span>
            <span class="abtext">Cập nhật liên tục</span>
            </h4>
            <h5>ĐỂ LẠI EMAIL CỦA BẠN ĐỂ CẬP NHẬT NHỮNG ƯU ĐÃI HOT NHẤT TỪ USBS </h5>
            <div class="subscribe-form">
              <form action="#" method="post" class="subscribe_form">
                <div class="email-news">
                  <input type="email" placeholder="Email" required="">
                </div>
                <div class="sub-news">
                  <input type="submit" value="Nhận ưu đãi !!!">
                </div>
              </form>
              <div class="clearfix"> </div>
            </div>
            <p>We respect your privacy.No spam ever!</p>
          </div>
          <!-- //newsletter ends here -->
          <!-- footer grids-->
          <div class="footer-cpy">
            <!-- footer-grid1 -->
            <div class="col-md-3 col-sm-6 footer-logo" style="margin-top: -26px; margin-left:-7px;">
              <h3>
              <a href="index.html">
                <span style="font-family: Arial" >US Bookstore</span>
              </a>
              </h3>
              <h4>about us</h4>
              <img src="images/dadk.png" style="width: 300px; margin-top: 33px; margin-left: -5px" />
            </div>
            <!-- //footer-grid1 -->
            <!-- footer-grid2 -->
            <div class="col-md-3 col-sm-6 footer-nav text-center">
              <h4>NAVIGATION</h4>
              <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="about.html">About us</a>
                </li>
                <li>
                  <a href="shop.html">shop</a>
                </li>
                <li>
                  <a href="contact.html">contact us</a>
                </li>
              </ul>
            </div>
            <!-- //footer-grid2 -->
            <!-- footer-grid3 -->
            <div class="col-md-3 col-sm-6 blog-footer">
              <h4>TIN TỨC LIÊN QUAN</h4>
              <div class="blog1">
                <div class="col-md-3 col-sm-3 col-xs-2 bl1">
                  <a href="#">
                    <img src="images/b1.jpg" alt="" class="img-responsive" />
                  </a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-10 bl2">
                  <a href="#">Nhà sách US mở thêm 10 chi nhánh</a>
                  <p>17 tháng 3, 2018</p>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="blog1">
                <div class="col-md-3 col-sm-3 col-xs-2 bl1">
                  <a href="#">
                    <img src="images/b2.jpg" alt="" class="img-responsive" />
                  </a>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-10 bl2">
                  <a href="#">Bộ giáo dục ra quyết định khen thưởng USBS</a>
                  <p>5 tháng 3, 2018</p>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <!-- //footer-grid3 -->
            <!-- footer-grid4 -->
            <div class="col-md-3 col-sm-6 contact-foot text-right">
              <h4>LIÊN HỆ</h4>
              <ul>
                <li>
                  <span class="fa fa-home"></span>
                  227 Nguyễn Văn Cừ, P4, Q5, TPHCM
                  <br> Việt Nam
                </li>
                <li>
                  <span class="fa fa-phone"></span>
                  +84 908980435
                </li>
                <li>
                  <span class="fa fa-envelope"></span>
                  <a href="mailto:1512470@student.hcmus.edu.vn">USBS@hcmus.edu.vn</a>
                  <a href="mailto:1512470@student.hcmus.edu.vn">US@books.vn</a>
                </li>
              </ul>
            </div>
            <!-- //footer-grid4 -->
            <div class="clearfix"></div>
          </div>
          <!-- //footer-grids -->
          <!-- footer social -->
          <div class="footer-social text-center">
            <h4>stay connected with us</h4>
            <ul>
              <li>
                <a href="https://www.facebook.com/profile.php?id=100006522224736">
                  <span class="fa fa-facebook icon_facebook"></span>
                </a>
              </li>
              <li>
                <a href="https://twitter.com/jypetwice">
                  <span class="fa fa-twitter icon_twitter"></span>
                </a>
              </li>
              <li>
                <a href="https://www.facebook.com/VuAnhTai1997">
                  <span class="fa fa-dribbble icon_dribbble"></span>
                </a>
              </li>
              <li>
                <a href="https://plus.google.com/u/0/100930126277695403127">
                  <span class="fa fa-google-plus icon_g_plus"></span>
                </a>
              </li>
            </ul>
          </div>
          <!-- //footer social -->
        </div>
        <!-- //footer container -->
      </div>
        <!-- //footer -->
      <div class="cpy-right">
        <p>© 2018 USBS. All rights reserved | Design by
          <a href="http://w3layouts.com"> Chronicle Team</a>
        </p>
      </div>
    </div>
    <!-- //home -->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--search jQuery-->
    <script src="js/main.js"></script>
    <!--search jQuery-->
    <!-- cart-js -->
    <script src="js/minicart.js"></script>
    <script>
    chr.render();
    chr.cart.on('new_checkout', function (evt) {
    var items, len, i;
    if (this.subtotal() > 0) {
    items = this.items();
    for (i = 0, len = items.length; i < len; i++) {}
    }
    });
    </script>
    <!-- //cart-js -->
    <!-- dropdown nav -->
    <script>
    $(document).ready(function () {
    $(".dropdown").hover(
    function () {
    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
    $(this).toggleClass('open');
    },
    function () {
    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
    $(this).toggleClass('open');
    }
    );
    });
    </script>
    <!-- //dropdown nav -->
    <!-- Scrolling Nav JavaScript -->
    <script src="js/scrolling-nav.js"></script>
    <!-- //fixed-scroll-nav-js -->
    <!--//scripts-->
    <!-- //gallery-js  -->
    <!-- start-smooth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
    jQuery(document).ready(function ($) {
    $(".scroll").click(function (event) {
    event.preventDefault();
    $('html,body').animate({
    scrollTop: $(this.hash).offset().top
    }, 1000);
    });
    });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
    $(document).ready(function () {
    /*
    var defaults = {
    containerID: 'toTop', // fading element id
    containerHoverID: 'toTopHover', // fading element hover id
    scrollSpeed: 1200,
    easingType: 'linear'
    };
    */
    $().UItoTop({
    easingType: 'easeOutQuart'
    });
    });
    </script>
    <script src="js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
  </body>
</html>