
li {
    padding: 10px 20px;
}
#home{
    background-color: #eff0f4;
}
a:hover, a:active, a:focus {
    outline: 0;
    text-decoration: none;
    color: #0d9de5;
}
a {
    color: #666666;
}
.list-group-item.active{
    background: #34c663;
    border-color: #34c663;


}
.list-group-item.active:hover {
    background: #34c663;
    border-color: #34c663;
}
.list-group-item.active a {
    color: #fff;
}
.list-group {
    border-radius : 0px;
   
}
.list-group li a > i {
    color: #999;
    margin-right: 5px;
    font-size:8px;
}
.right-content-bg {
    margin-bottom: 1.875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 1px solid #ddd;
    background-color: #fff;

}
.alert{
	margin-bottom: 0px;
}

.change-info-btn {
    background: #787fe1;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 30px;
}