
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
  left: -12px;
    position: absolute;
    top: 40%;
    left: 15px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 60px;
    font-weight: 100;
    line-height: 30px;
    color: #ffffff;
    text-align: center;

    border-radius: 23px;
    opacity: 0.5;
}
.carousel-control.right {
  right: 0px;
}
.carousel-control.left {
  left: 0px;
}
/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}

.thumbnail .discount-label {
    position: absolute;
    top: 20px;
    right: 35px;
    text-shadow: 1px 1px 1px #000;
    font-weight: 700;
    text-align: center;
    background-color: #ff450d;
    width: 45px;
    height: 40px;
    color: white;
    border-radius: 50%;
}
.discount-percent{
      top: 9px;
    width: 82px;
    position: relative;
}