<div class="banner-bg-agileits">
    <!-- banner-text -->
    <div class="banner-text">
        <div class="container">
            <p class="b-txt">US</p>
            <h2 class="title">
            Bookstore
            </h2>
            <ul class="banner-txt">
                <li>Hiểu biết</li>
                <li>Thư giãn</li>
                <li>Tĩnh lặng</li>
            </ul>
        </div>
    </div>
    <!-- //banner-text -->
</div>

<div class="section contact" id="contact">
    <div class="container">
        <h4 class="rad-txt text-center">
            <span class="abtxt1">Liên hệ</span>
            <span class="abtext">Với Shop</span>
        </h4>
        <div class="contact-form">
            <div class="col-md-7">
                <!-- contact form grid -->
                <div class="contact-top1">
                    <h5>Gửi note cho chúng tôi</h5>
                    <form action="#" class="form_w3layouts" method="post">
                        <input type="text" placeholder="Tên" required="">
                        <input type="text" placeholder="Họ" required="">

                        <input class="email" type="email" placeholder="Email" required="">
                        <textarea placeholder="Tin nhắn" required=""></textarea>
                        <input type="submit" value="Xác nhận">
                    </form>
                </div>
                <!--  //contact form grid ends here -->
            </div>
            <!-- contact map grid -->
            <div class="col-md-5 map contact-right">
                <div class="contact-top1">
                    <h5>Chỉ đường</h5>
                    <iframe src="https://www.google.com/maps/embed?pb=!4m5!3m4!1s0x31752f1bf8da4697:0x5c1e00e1d6a2b7a6!8m2!3d10.7625216!4d106.6823262"
                        allowfullscreen></iframe>
                </div>
            </div>
            <!--//contact map grid ends here-->
            <div class="clearfix"></div>
        </div>
        <!-- contact details -->
        <div class="contact-bottom">
            <h6>Thông tin liên hệ</h6>
            <!-- contact details left -->
            <div class="col-md-6 col-sm-6">
                <div class="contact-left">
                    <div class="address">
                        <h5>Địa chỉ:</h5>
                        <p>
                            227 Nguyễn Văn Cừ, P4, Q5
                            <br> TPHCM, Việt Nam.</p>
                    </div>
                    <div class="address address-mdl">
                        <h5>Điện thoại:</h5>
                        <p>
                            +84 908980435</p>
                      
                    </div>
                </div>
            </div>
            <!-- //contact details left -->
            <!-- contact details right -->
            <div class="col-md-6 col-sm-6">
                <div class="contact-right">
                    <div class="address">
                        <h5>Email:</h5>
                        <p>
                            <a href="mailto:1512470@student.hcmus.edu.vn">USBS@hcmus.edu.vn</a>
                        </p>
                        <p>
                            <a href="mailto:1512470@student.hcmus.edu.vn">US@books.vn</a>
                        </p>
                    </div>
                    <div class="footer-social address  address-mdl">
                        <h5>Kết nối với chúng tôi</h5>
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100006522224736">
                                    <span class="fa fa-facebook icon_facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/jypetwice">
                                    <span class="fa fa-twitter icon_twitter"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/VuAnhTai1997">
                                    <span class="fa fa-dribbble icon_dribbble"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/100930126277695403127">
                                    <span class="fa fa-google-plus icon_g_plus"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- //contact-details right -->
            <div class="clearfix"></div>
        </div>
        <!-- //contact details ends here -->
    </div>
</div>